<%= render 'shared/page_title', title: "Chef #{@chef.chef_name}'s profile'" %>
<% if @chef.recipes.count != 0%>
    <h4 align= "center"><%= @chef.chef_name%></h4>
    <%= render 'recipes/recipe', obj: @chef.recipes %>
<% else %>
<h4 align = "center">No recipes yet<h4>

<% end %>





