$navbar-default-bg :black;

@import "bootstrap-sprockets";
@import "bootstrap";

.center{
    text-align: center;
}

.jumbotron {
    background-image: asset-url('cover_image.png') ;
    background-size: cover;
    height: 300px;

}

#logo{
    float: left;
    font-size: 1.7em;
    color: rgb(212, 203, 203);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;



}

#logo:hover {
    color: rgb(14, 13, 13);
    text-decoration: none;
}

.jambotron h1,h2{
    color: rgb(15, 9, 9);
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
}

.btn-xlarge {
background-color: rgb(39, 6, 6);
}

.btn-xlarge:hover {
color: rgb(240, 46, 46);
text-decoration: none;
}

footer {
    margin-top: 50xp;
    padding-top: 5xp;
    border-top: 1px solid #d43333;
    color:  rgb(199, 50, 50);
}

footer a{
    color: rgb(187, 25, 25);
}

footer a:hover {
    color: #222
}
footer small{
    float: left;
}

footer ul{
    float: right;
    list-style: none;
}

footer ul li{
    float:left;
    margin-left: 15px;

}


