<footer class="footer" >
    <small>
        <strong><a href ="http://www.maimoonahaq.com"></a>Matacode development training</strong>
        by <em><a href = "http://www.maimoonahaq.com"></a>Maimoona-haq</em>
    </small>
    <nav>
    <ul>
    <li><%= link-to "About", '#' %></li>
    </ul>
    </nav>
</footer>